
<h1>Welcome to the Yoga Studio Manager<h1>

<ul>
  <li><a href="studios">Studios</a></li>
  <li><a href="studios/new">New Studio</a></li>
  <li><a href="yogis">Yogis</a></li>
  <li><a href="yogis/new">Add Yogi</a></li>
</ul>
