<h1>Add New Yogi</h1>
<%= form_with(url: yogis_path, method: :post, data: { turbo: false }) do |form| %>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required><br><br>
  
  <label for="age">Age:</label>
  <input type="number" id="age" name="age" min="16" max="120" required><br><br>
  
  <label for="member">Member?</label>
  <input type="checkbox" id="member" name="member"><br><br>
  
  <button type="submit">Add Yogi</button>
<% end %>
