<h1><Studio List></h1>

<% @studios.each do |studio| %>
  <h3><a href="/studios/<%= studio.id %>"><%= studio.name %></a></h3>
<% end %>


<p><a href="/studios/new">New Studio</a></p>
<p><a href="/">Home</a></p>