<h1>Studios</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Yogis</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @studios.each do |studio| %>
      <tr>
        <td><%= link_to studio.name, studio_path(studio) %></td>
        <td><%= studio.yogis.count %></td>
        <td><%= studio.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
